body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;

}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

textarea{
  background:transparent;
  opacity: 0.5;
  border: none;
  resize: none;
}

header {
  text-align: center;
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
 
}

.container {
  padding-bottom: 40px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 120px;
  margin-bottom: 2px;
 
}

.hour {
  background-color:#8ccbbe;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; 
  color: white;
  padding-top:5px;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 16px;
}

.saveBtn {
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;  
  background-color: #3797a4;
  color: white;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 2px;
}



/*Mobile Device*/
@media (max-width: 750px) {

  .description{
    max-width: 70%;
    float: right;
  }
  .hour {
    min-width: 15%;
  }
  .saveBtn {
    min-width: 15%;
    float: right;
  }
  .time-block{
    float:right;
  }

} 